/* Footer styles (no longer sticky)
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
.footer {
  width: 100%;
  padding-block: 1.5em;
  text-align: center;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
